page-product-detail {
}

.user-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border-collapse: separate; 
}