<ion-header>
  <ion-navbar>
    <ion-title>
      Discounts
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row align-items-center>
      <ion-col col-6 *ngFor="let product of discounts">
        <ion-card>
          <ion-card-header>
            {{product.Name}}
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label>list</ion-label>
              <ion-select [(ngModel)]="list">
                <ion-option *ngFor="let l of shop.lists" value="l.name">{{l.name}}</ion-option>
              </ion-select>
            </ion-item>
            <button ion-button (click)=addToList(product)>Add To List</button>
          </ion-card-content>
        </ion-card>        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
