<ion-header>
  <ion-navbar style="text-align: center">
    <ion-title>Add Product</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar
    [(ngModel)]="myInput"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let category of categories" (click)="itemSelected(category)">
      {{ category.Name }} <ion-icon name="arrow-dropdown"></ion-icon> 
        <ion-list *ngIf="category.show">
          <ion-item *ngFor="let category_child of category.children" (click)="itemSelected(category_child);$event.stopPropagation();">
            {{ category_child.Name }} <ion-icon name="arrow-dropdown"></ion-icon>
            <ion-list *ngIf="category_child.show">
                <ion-item *ngFor="let product of category_child.products" (click)="addProduct(product);$event.stopPropagation();">
                  {{ product.Name }}
                  <ion-thumbnail item-start>
                    <img src={{product.Icon}}>
                  </ion-thumbnail>                                    
                </ion-item>                  
            </ion-list> 
          </ion-item>  
        </ion-list>
    </ion-item>  
  </ion-list>

</ion-content>
